.opop{
 background-color: rgba(235, 235, 235, 0.76);
 border-style: groove;
}

.ola{
    margin-top: 18%;
    max-width: 46ch;

}

.log{
    color: black;
    margin-left: 1rem;
}

.itit{
    margin-bottom: 5%;
}

.ol2{
    margin-bottom: 11%;
}

.color{
    color: black;
}